{% extends "hello/layout.html" %},
	{% block title %}
    About us
	{% endblock %},
	{% block content %}
	<style>
	img {
  		display: block;
  		margin-left: auto;
  		margin-right: auto;
	}
	</style>
    <img width=100 height=130 align-self="center" src="/static/hello/images/chrisphoto.jpg">
	<p>Hello! My name is Christopher Demos. I am a software and electrical engineer.</p>
	   <embed src="/static/hello/media/ChristopherDemosResume.pdf" width="500px" height="200px" />
	<p>I have a Bachelor's degree in electrical engineering, three years of experience
	as an electrical and software engineer, as well as experience designing software for 
	mobile development.</p>
	<p>While studying electrical engineering at the University of San Diego I worked 
	in labs and design teams, developing programmable logic and embedded software. My 
	course work included programming in C++ and Java. As a senior design project, I 
	collaborated with a small team to design a prototype medical device for glaucoma 
	screening. I designed microcontroller software in C to interface pressure sensors, 
	infrared sensors and an LCD. </p>
	<p>Following university, I worked for three years as a software engineer for 
	Cubic Global Defense. I improved communication systems by designing automatic 
	test stations for RF hardware. I developed GUIs to control FPGAs, microcontrollers 
	and lab equipment. I wrote code using C#, Visual Basic and LabVIEW, to communicate 
	with lab equipment through SPI, I2C and JTAG. The software automatically conducted 
	RF hardware tests and exported results to Excel tables and charts. I improved test 
	times by writing basic learning algorithms to read previous results. I also studied
	multi-layer PCB schematics in Altium Designer and cooperated with design engineers 
	and lab technicians to improve hardware, software and digital design. This experience 
	gave me the tools and confidence to take on new tasks, learn new skills and 
	collaborate with diverse teams.</p>
	<p>Last year, I served with the Peace Corps, as an Education Volunteer in Cameroon. 
	For ten months, I taught mathematics and computer science to classes of 90 students. 
	I worked with local teachers and staff to promote reading culture and collaborative 
	learning. This experience challenged me culturally and professionally and strengthened 
	my skills in leadership and communication.</p>
	<p>Most Recently, I’ve developed code with a start-up in Los Angeles for a mobile 
	application. I designed software in React Native and Java and utilized Git for managing 
	the source code and GraphQL to store data. The project has strengthened my familiarity 
	with Linux and Agile/Scrum.</p>
	{% endblock %} 