{% extends "hello/layout.html" %},
	{% block title %}
    Contact me
	{% endblock %},
	{% block content %}

	<p>Thanks for visiting my page! </p>
	<p> </p>
	<p> Contact me: </p>
	<a href="https://www.linkedin.com/in/christopherdemos/">
		<img src="/static/hello/images/LI-Logo.png" width=138.25 height=33.75/></a>
	<a style="margin-left:20px;" href="mailto:christopher.i.demos@gmail.com?subject=Contact about your website&body=Hello, I am so impressed by your website!">
		<img src="/static/hello/images/mail-ico.png" width=130 height=45/>
	</a>

	{% endblock %} 